
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	/*background: url(main.jpg) no-repeat;*/
	background-size: cover;
	background-position: center;
	
	font-family: sans-serif;
}

 
.w-100{
	height:500px;
}
 .navbar{
background-color:crimson;
}

.navbar ul li a:hover{
	color:silver;
}
.page-footer{
	background-color:crimson;
}



		
		